.wrapper {
    display: flex;
    .content-wrapper {
        background-color: $secondary;
        width: 100%;
        overflow-x: hidden;
        .content {
            flex: 1 0 auto;
        }
    }
}

.animacion {
    width: 100%;
    height: 100vh;
}
