// subrayado hover
.nav-item::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: white;
    margin: auto;
    display: block;
}

.nav-item:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

// buscador
.navbar-search {
    width: 25rem;
    input {
      font-size: 0.85rem;
      height: auto;
    }
}

//divider


