.custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.tablita-guapa {
    @extend .table, .table-bordered;

    @media (max-width: 576px) {
        th, td {
            &:not(:nth-of-type(2)) {
                display: none;
            }
        }
    }
}