// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #003FA2;
$secondary: #f8f9fc;
$info: #06A38D;

//Breakpoints
$breakpoints : (
    “pequeño” : 578px,
    “mediano” : 768px,
    “grande” : 1200px 
);





